{% for c in cours %}	
	
	<div class="liste_cours" style="">
	<div class="signler_cours" class="" title="" style=""></div>
	<div class="titre_cours_mat" class="" style=""> {{c.titre}} </div>
	<div class="check_cours_mat" class="" style=""> <input type="checkbox" name="option1" value="Milk"> </div>
	
	
	</div >
	
{% endfor %}	