{% set i=1 %}
{% for m in menu %}	
	<div id="matiere_rev{{i}}" style="" class="matieres_rev b" onclick="javascript:afftest()">
		<div class="wrap">
			<div id="nom_matiere_rev{{i}}" class="nom_mat_rev" > {{ m.nom }} </div>
		</div>
	</div>
	{% set i=i+1 %}
{% endfor %}