html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}


body{ width:100%;margin:auto;background:#FDFDFD}
#body_profil{background:#F2F2F2}
#body_acc{background:white}
div{text-align:right;font-weight:500;}
input{text-align: right;font-family:arabtype;padding-right:5px}
textatrea{text-align: right;}
#Entete{width:100%;position:fixed;z-index:2;top:0px;}
#Entete_general{height:690px;background:#4AAEFF;width:100%;position:fixed;z-index:0;top:0px}

#box_g{width:100%;padding:20px 0px;position:relative;margin:auto;margin-top:100px;z-index:2}
.box{position:relative;margin:auto;margin-top:0px;z-index:3;}
#grand_titre{color:white;text-align:center;font-weight:normal;font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;font-size:2.5em;width:400px;margin:auto}

#logo{width:250px;margin:auto}
#logo_image{width:100%}
#logo_image:hover{cursor:pointer}
@font-face{font-family:font1;src: url(../font/OpenSans-Light.ttf);}
#grand_titre_general{color:#FFFFFF;text-align:center;font-weight:normal;font-family:font1;font-size:7em;width:100%;margin:auto;margin-top:50px}
#grand_text_general{color:#FFFFFF;text-align:center;font-weight:normal;font-family:font1;font-size:2em;width:800px;margin:auto;margin-top:50px}
#logo_general{width:250px;margin:auto}
#inscription_bnt{border-radius: 6px;background:#FFFFFF;color:#1E73AC;border:2px solid #1E73AC;font-size: 1.2em;font-weight: 600;text-align: center;padding:7px 0px;width:150px;margin:auto;margin-top:70px}
#entrer{margin:auto;background: linear-gradient(#A5CB10 0%, #87B300 100%) repeat scroll 0px 100% / 100% 200% transparent;border-radius: 3px;box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.3) inset, 0px 2px 0px rgba(0, 0, 0, 0.1);
-moz-box-sizing: border-box;border: 1px solid #6E8D00;color: #FFF;font-size: 1.2em;font-weight:bold;text-align: center;height: 40px;line-height: 38px;width:100%;}
#entrer:hover,#inscription_bnt:hover{cursor:pointer}
#corp_profil{width:960px;margin:auto;margin-top:70px}
#corp_general{width:100%;margin:auto;background:white}
#div_gauche_sep{width:100%;height:2px;margin-top:690px;background:#333333;border-top:1px solid #333333}
#div_gauche{width:100%;height:670px;margin-top:-2px;position:relative;background:#209BFF;border-top:2px solid #AAAAAA}
#div_qsnou_liens_actus{width:100%;height:610px;position:relative;background:#FFFFFF;overflow:hidden}
.div_les_tr{position:absolute;top:0px;width:100%;height:100%;}
#div_actus{right:100%;background:#FFFFFF}
#div_qsnous{right:0%;}
#div_liens{right:-100%;background:#FFFFFF}
#glob_cercl{position:relative;z-index:3;margin:auto;margin-top:540px;width:250px;text-align:center}
.cercles{display:inline-block;vertical-align:top;height:20px;width:20px;background:#E47D32;margin:auto;border-radius:20px;border:2px solid #AD5616;margin:0px 15px}
#cercle2{opacity:1}
#cercle1,#cercle3{opacity:0.5}
#div_gauche_titre{margin:auto;width:60%;font-family:Arial;font-size:2em;text-align:center;color:#DDDDDD}
#div_englobante{margin:auto;width:60%;text-align:center;position:relative;margin-top:20px;}
#sous_div1{display:inline-block;position:absolute;left:0px;top:0;vertical-align:top}
#sous_div2{display:inline-block;vertical-align:top}
#sous_div3{display:inline-block;position:absolute;right:0px;top:0;vertical-align:top}
.icone_s_d{border:solid 2px #777777;border-radius:100px;width:120px}
.icone_sous_div{display:inline-block;vertical-align:top}

.titre{font-size:2em;vertical-align:middle;color:#777;text-align:center;margin-top:15px}
#partie_1_titre{width:50%;margin:auto;position:relative;margin:auto;margin-top:60px;margin-bottom:50px ;}
.qsnous_titre{width:50%;margin:auto;position:relative;margin:auto;margin-top:60px;margin-bottom:20px ;}
#login_titre{width:70%;margin:auto;position:relative;margin:auto;margin-top:40px;margin-bottom:50px ;}
#partie_1_titre_text{width:70%;margin:auto;text-align:center;padding:4px 20px;position:relative;z-index:1;font-weight:normal;font-weight:normal;font-size:2em}
.qsnous_titre_text{width:70%;margin:auto;text-align:center;padding:4px 20px;position:relative;z-index:1;font-weight:normal;font-size:2em;color:#222222}

#inscription{width:100%;height:630px;position:relative;background:#EEEEEE;border-top:2px solid #EEEEEE}
#insc_titre1{color:#FFFFFF;position:absolute;top:100px;left:240px;border-bottom:1px solid #AAAAAA;border-radius:150px;width:300px;height:300px;overflow:hidden;font-size:1.7em;text-align:center}
#insc{width:800px;margin:auto;margin-top:-10px;font-family:Arial,sans-serif;text-align:left;padding-bottom:20px;}
#inputs{display:inline-block;vertical-align:top;width:100%;}
.inputs_para{width:60%;margin:auto}
.input_rs{width:100%;margin-top:20px}
.input_inscription{width:46%;position:relative;display:inline-block;vertical-align:top;border:solid 1px #171E25;height:35px;color:#000000;margin:0px 1%;font-weight:bold; background-color:#FFFFFF;}
#choix_niveau{width:100%;padding:7px 0px;background:#FFFFFF;border:0;position:absolute;top:0px;left:0px;text-align:right;margin-top:0px;font-family: myFirstFont;color:#666666;font-weight:bold}
.Confirmation_de_mot_de_passe{border:solid 1px red;}
#btn_insc{width:30%;margin:auto;margin-top:50px}
#btn_insc_btn{background:#E95F47;color: #FFF;font-size: 1.1em;font-weight: 600;border:0;border-radius:6px;text-align: center;height: 38px;line-height: 38px;width:100%}
#retour_bnt{width:200px;padding:6px 0px;margin:auto;font-size:1.5em;background:#DB403A;margin-top:40px;color:#FFFFFF;border-radius:3px;text-align:center}
.inp_nn_inp{width:46.7%;}
.prog_chaque_matrs{font-size:2em;color:#393E46;width:100%;border-bottom:1px solid rgb(230,230,230);font-family: myFirstFont;margin:auto;padding:8px 0px;text-align:center}
#choix_type{text-align:center}
#ligne_d_adaptation{width:920px;margin:auto;height:0px;position:relative}
#menu_a_1,#menu_a_2,#menu_a_3,#menu_a_4,#menu_a_5{color:#FFFFFF;font-weight:normal;margin:0px 17px;display:inline-block;vertical-align:middle;position:relative;z-index:2}
#menu_vol{position:absolute;right:18px;top:0px;height:58px;background:#E47D32;width:120px;z-index:1}
#tri_vol{width:0px;height:0px;border-top:solid 21px #E47D32;border-left:solid 60px transparent;border-right:solid 60px transparent;position:absolute;bottom:-20px}
#menu{width:100%;position:fixed;top:0px;font-size:1.1em;background:#192D45;z-index:6;padding:0px 0px;font-family:arabtype}
#menu_a{min-width:900px;max-width:1200px;position:relative;margin:auto}
#div_authentification{width:40%;margin:auto;}
#div_authentification_bande{width:100%;margin-top:120px;background:rgba(255,255,255,0.7);height:380px;padding:10px 0px}
#div_authentification_glob{width:100%;margin:auto;background:#4AAEFF;margin-top:50px;height:620px;position:relative;z-index:2;border-top:2px solid rgba(255,255,255,0.9);border-bottom:2px solid rgba(255,255,255,0.9)}
#menu_1,#menu_2,#menu_3,#menu_4,#menu_5{width:120px;transition:all 0.5;display:inline-block;vertical-align:middle;font-size:1em;text-align:center;padding:20px 0px;}
#menu_1:hover,#menu_2:hover,#menu_3:hover,#menu_4:hover,#menu_5:hover{cursor:pointer;}
#sing_in{font-size:1em;color:white;background:#222222;display:inline-block;padding:20px 9px;position:absolute;left:10px;top:0px;text-align:center}
#sing_in:hover{background:#E47D32;cursor:pointer}
#barreuser{width:100%;position:relative;bottom:0px;background:#192D45}
#img_user{width:52px;height:52px;font-weight:bold;position:absolute;top:0px;right:0px;display:inline-block}
.barreuseri{font-size:1.1em;color:white;display:inline-block;margin-left:0px}
#barreuser_2{margin-right:70px}
#barreuser_3{font-size:1em;margin-right:300px;color:white;}

#deconnexion{font-size:0.9em;color:white;display:inline-block;padding:19px 4px;position:absolute;top:0px;left:20px;text-align:center}
#deconnexion:hover{background:#59407F;cursor:pointer}


#case1{margin-left:5%;margin-top:10px}
#logo_ssc{position:absolute;left:242px;top:7px}
#t_g{position:absolute;left:0px;bottom:-25px}
#t_d{position:absolute;right:-1px;bottom:-25px}
#footer_g{width:100%;margin:auto;background:#EEEEEE;text-align:left;height:610px;position:relative;border-top:1px solid #EEEEEE}
#scroll_haut_div{padding:17px 0px;width:100%;background:#F9F9F9;position:absolute;bottom:0px}
#scroll_haut{width:40px;height:20px;margin:auto}
#scroll_haut_div:hover{background:#F4F4F4;cursor:pointer}
#tri_scroll_haut{border-right:12px solid transparent;border-left:12px solid transparent;width:0px;height:0px;border-bottom:20px solid #555555;margin:auto}
#footer{padding-bottom:50px;width:100%;background:#EEEEEE;margin:auto;position:relative;border-top:2px solid #AAAAAA;margin-top:70px}
#div_evolution{width:100%;}
#div_gauche_liste{margin-left:30px;display:inline-block;vertical-align:top;margin-top:20px;}
#div_globale{position:relative;}
#div_droite{min-height:600px;width:680px;display:inline-block;vertical-align:top;margin-top:20px;border:1px solid rgb(200,200,200);box-shadow: 0 0 3px #CCC;background:white}
.case{width:230px;margin:auto;margin-top:10px;position:relative}
.case:hover{background-color:rgb(229,229,229);cursor:pointer;}
#info{position:relative;width:920px;margin:auto;height:120px}
.icone{opacity:0.7;margin-right:15px;width:32px;height:32px;display:inline-block;vertical-align:middle;}
.titre_liste_etudiant{width:135px;height:24px;margin-right:17px;display:inline-block;vertical-align:middle;color:rgb(100,100,100)}
.informer{padding-left:4px;padding-right:4px;display:inline-block;vertical-align:middle;text-align:center;background-color:rgb(100,100,100);color:white;border-radius:4px;font-size:0.8em;}
#image_de_profil{display:inline-block;vertical-align:middle;width:80px;height:80px;border :1px solid white ;}
.donnees_de_profil{}
.div_info{color:#333333;font-size:0.9em;}
.titre_div_info{color:black;border-bottom:1px solid rgb(200,200,200);font-size:1.1em;text-align:left}
#donnees_de_profil2,#donnees_de_profil3{margin-top:20px}
#donnees_de_profil1{}
#info_du_profil{background:#FFF9D7;padding:5px;width:400px;border:1px solid #E2C822}
#container { text-align: center; margin: 20px; }
.matieres_rev{margin: 10px ;
  position:relative;
  height: 40px;
  font-family: sans-serif;
  font-weight: normal;
  font-size: 1em;
  color: #FFF;
  text-align:center;
  font-weight:bold;}
.matieres{
  position:relative;
  font-family: sans-serif;
  font-weight: normal;
  font-size: 1em;
  color: #FFF;
  width: 24.5%;
  text-align:center;
  font-weight:bold;
  display:inline-block;
  vertical-align:middle;}
.bar-main-container {
   width: 400px;
  
  display:inline-block;
  vertical-align:top;
  margin-left:15px;
  padding:8px 0px;
  font-family: sans-serif;
  font-weight: normal;
  font-size: 0.8em;
  color: #FFF;
  text-align:center;
  font-weight:bold;
}

.pgormat{margin-top:20px; }
.nom_mat_rev{
  color:black;
  background: ;
  border:1px solid rgb(180,180,180);
  padding: 9px 0px;
  width: 180px;
  height: 16px;
  text-align:center
  }
.nom_mat{
  color:rgb(150,150,150);
  border:1px solid rgb(150,150,150);
  width: 100%;
  padding: 5px 0px;

  text-align:center;
  display:inline-block;vertical-align:middle;}
 .nom_mat_rev{margin:auto}
.nom_mat_rev:hover,.nom_mat:hover{cursor:pointer;}
.nom_mat_rev:hover{background:rgb(200,200,200) ;color:#59407F}
.bar-percentage {
text-align:center;
margin-left:30px;
margin-right:15px;
color:#666666;
   display:inline-block;
  
  padding: 7px 6px ;
  width: 200px;

}


.bar {
  float: right;
  background: #FFF;
  height: 15px;
 
}

/* COLORS */
.a0 { border:1px solid #BBBBBB; }
.a1 { background: #38B1CC; }
.a2 { background: #E44C41; }
.a3 { background: #8E5D9F; }
.a4 { background: #EFC32F; }
.a5 { background: #089900; }


.tri{border-right:7px solid transparent;border-left:7px solid transparent;opacity:0;position:absolute;bottom:-7px;left:47%;color:red;width:0px;height:0px}
#triangle_0   {border-top:7px solid #38B1CC; }
#triangle_1  {border-top:7px solid #E44C41; }
#triangle_2   {border-top:7px solid #8E5D9F; }
#triangle_3   {border-top:7px solid #EFC32F; }

#div_conseils{width:642px;position:relative;background:white;border:solid 1px rgb(190,190,190);padding-bottom:30px;margin:60px auto;margin-bottom: 20px}
#conseils{background:white;position:absolute;padding:6px;right:20px;top:-20px;border:solid 1px rgb(190,190,190);font-size:1.3em;color:#59407F;font-family:Arial;}
#liste_conseils{margin-top:35px;margin-left:15px}

#matrs{width:96%;margin:auto;margin-top:30px}
#cours{width:96%;min-height:350px;margin:auto;border:solid 1px rgb(200,200,200);margin-bottom:20px;margin-top:20px}
#titre_cours{color:rgb(200,200,200);border-bottom:1px solid rgb(200,200,200);padding:4px;font-size:1.3em;font-family:Ma_Super_Fonte, "Trebuchet MS", Arial, Helvetica, sans-serif;text-align:center}
 #ruban{color:#393E46;padding-top:4px;padding-bottom:4px;text-align:center;background:#F0F0F0;border:1px solid #393E46;}
 
 
 .div_gauche_qsnous_text{min-width:800px;max-width:850px;margin:auto;margin-top:10px;text-align:center;position:relative;color:#555555;font-size:1.4em;font-weight:normal}
 
.liste_al{text-align:center;margin-top:3px;font-weight:normal}
 
.fleche { 
    -webkit-transition: all 0.6s ease-in-out;
    -moz-transition: all 0.6s ease-in-out;
    -o-transition: all 0.6s ease-in-out;
    transition: all 0.6s ease-in-out;
}

.rotated { 
    transform:rotate(180deg); 
    -webkit-transform:rotate(180deg); 
    -moz-transform:rotate(180deg); 
    -o-transform:rotate(180deg); 
}
#case_liste_1{background:rgb(245,245,245);}
#titre_liste1{color:#FF9900}
#trai_1{background:#FF6600}
#icone_1{opacity:1}
#informer1{background:red;color:white}

 

.liste_cours{margin:auto;margin-top:3px;padding:9px 0px;position:relative;width:97%;border-bottom:1px solid #BBBBBB}
.titre_cours_mat{display:inline-block;vertical-align:middle;margin-left:10px}
.check_cours_mat{display:inline-block;vertical-align:middle}
.signler_cours{display:inline-block;vertical-align:middle;position:absolute;left:6px;vertical-align:middle;background:rgb(0,255,0);width:15px;height:15px;border-radius:10px}
#message1{margin:auto;margin-top:40px;width:400px;height:30px;overflow:hidden;position:relative;box-shadow: 0 0  3px #777}        
#message_entet1{margin:auto;height:30px}
#titre_message1{padding:3px;color:rgb(70,70,70);text-align:right;font-size:0.9em;position:absolute;right:0px;display:inline-block;vertical-align:middle;margin-top:3px}
#image_message1{width:30px;height:30px;position:absolute;left:0px;display:inline-block;vertical-align:middle;}
#messager-nous_contenu_nom_prenom{margin-top:10px;width:100%;text-align: right;}
#messager-nous_contenu_objet{margin-top:10px;width:100%;}
#messager-nous_contenu_message{max-width:100%;min-width:100%;height:100px;margin-top:10px;text-align:right;}
#messager-nous_contenu_Envoyer{margin:5px;width:90px}
#message2{margin:auto;margin-top:40px;width:400px;height:30px;overflow:hidden;position:relative;box-shadow: 0 0  3px #777;text-align:left}        
#message_entet2{margin:auto;height:30px}
#titre_message2{padding:3px;color:rgb(70,70,70);text-align:right;font-size:0.9em;position:absolute;right:0px;display:inline-block;vertical-align:middle;margin-top:3px}
#image_message2{width:30px;height:30px;position:absolute;left:0px;display:inline-block;vertical-align:middle;}
.elements_message{background:white;height:560px;overflow-y:scroll}
.message{padding:0px;overflow:h}
.entete_message{margin-top:0px;color:rgb(70,70,70);font-size:0.9em;border-bottom:1px solid #59407F;position:relative}
.image_entete_message{display:inline-block;vertical-align:middle;height:45px;width:45px;}
.nom_entete_message{display:inline-block;vertical-align:middle;padding:5px;}
.btn_affich_ctn_mess,.btn_masqu_ctn_mess{display:inline-block;vertical-align:middle;padding:5px;border-right:1px solid #59407F;border-left:1px solid #59407F;text-align:center;width:120px;}
.btn_affich_ctn_mess:hover,.btn_masqu_ctn_mess:hover{cursor:pointer;color:blue}
.btn_masqu_ctn_mess{display:none}
.effacer_ce_message{display:inline-block;position:absolute;left:6px;top:13px;vertical-align:middle;}
.effacer_ce_message:hover{cursor:pointer;color:red}
.contenu_message_glo{height:0px;overflow:hidden;border:solid 1px rgb(250,240,240)border-top:0;background:rgb(250,250,230)}
.tri_contenu_message_glo{border-top:10px #59407F solid;margin:auto;border-right:10px transparent solid;border-left:10px transparent solid;height:0px;width:0px}
.objet_contenu_message_glo{width:97%;margin-right:10px;color:rgb(50,50,50)}
.text_contenu_message_glo{margin:auto;color:rgb(70,70,70);padding:8px;border-radius:3px;}
#message3{margin:auto;margin-top:40px;width:400px;height:30px;overflow:hidden;position:relative;box-shadow: 0 0  3px #777;text-align:left;margin-bottom:10px}      
#message1:hover,#message2:hover  ,#message3:hover  {cursor:pointer}
#message_entet3{margin:auto;height:30px}
#titre_message3{padding:3px;color:rgb(70,70,70);text-align:right;font-size:0.9em;position:absolute;right:0px;display:inline-block;vertical-align:middle;margin-top:3px}
#image_message3{width:30px;height:30px;position:absolute;left:0px;display:inline-block;vertical-align:middle;}
.trai{position:absolute;right:0px;width:2px;height:100%}
.footer_image{width:300px;display:inline-block;vertical-align:middle;border:solid 1px #000000}
#images_footer{width:700px;height:100px;margin:auto;margin-top:70px;position:relative}
#innovit{position:absolute;left:0px;background:#FFFFFF}
#inpt{position:absolute;right:0px;background:#FFFFFF}
#text_footer{width:700px;margin:auto;margin-top:50px;color:#000000;text-align:center}

#liste_menu_profil{margin-left:80px;color:white;display:inline-block;text-align:left }
#mot_de_passe_oubl{font-size:1em;text-align:left;width:49%;color:#59407F;margin:20px 0px;display:inline-block;vertical-align:top}
#login_inscription{font-size:1em;text-align:right;width:49%;color:#59407F;margin:20px 0px;display:inline-block;vertical-align:top}
#login_inscription:hover,#mot_de_passe_oubl:hover{text-decoration:underline;cursor:pointer}
#remember_me{width:250px;margin:auto;margin-top:40px;font-size:1.3em;text-align:center}


#div_fermer{width:10px;height:10px;position:absolute;left:0px;top:0px}
#div_fermer:hover{cursor:pointer}
#div_notifications{display:none;color:rgb(80,80,80);position:absolute;box-shadow: 0 0  8px black;background:white;border:1px solid #59407F;position:absolute;right:40%;padding:10px;max-width:400px}
#cercle_notificarion{text-align:center;position:absolute;color:red;left:0px;font-size:0.6em;width:10px;text-align:center;border-radius:8px;}
.image_div_authent{width:20px;height:20px;display:inline-block;vertical-align:top;}
.div_authent_message{display:inline-block;vertical-align:top;max-width:350px}
#div_notifi{border-bottom:8px white solid;position:absolute;top:-8px;right:45px;border-right:8px transparent solid;border-left:8px transparent solid;height:0px;width:0px}
.mess_div_authent{padding-bottom:5px;border-bottom:1px solid rgb(200,200,200)}
#fermer_notification{position:absolute;right:20px;font-size:0.8em;margin-bottom:7px;}
#fermer_notification:hover{color:green;cursor:pointer}
#consls_prof{width:90%;margin:auto}
#Conseils_prof_titre,#dem_ajout_titre{margin:30px}
.input_prof_ajout{width:100%;height:25px}
#input_prof_ajout2{margin-top:10px}
.entete_consl_prof{color:rgb(70,70,70);font-size:0.9em;border:1px solid rgb(200,200,200);position:relative}
.image_consl_prof{display:inline-block;vertical-align:middle;height:45px;width:45px;}
.nom_consl_prof{display:inline-block;vertical-align:middle;padding:5px;}
.btn_affich_consl_prof,.btn_masqu_consl_prof{display:inline-block;vertical-align:middle;padding:5px;border-right:1px solid rgb(200,200,200);border-left:1px solid rgb(200,200,200);text-align:center;width:120px;}
.btn_masqu_consl_prof{display:none}
.btn_affich_consl_prof:hover,.btn_masqu_consl_prof:hover{cursor:pointer}
.contenu_consl_prof{margin-bottom:10px;height:0px;overflow:hidden;background:white;text-align:center}
.tri_consl_prof{border-top:10px rgb(200,200,200) solid;margin:auto;border-right:10px transparent solid;border-left:10px transparent solid;height:0px;width:0px}
.text_consl_prof{width:95%;color:black;display:inline-block;vertical-align:top;margin:auto}

.contenu_consl_prof span{text-decoration:underline;color:#FF6600}
.ligne_separation{height:160px;border-left:1px solid rgb(200,200,200);display:inline-block;margin-top:10px;margin-left:7px}
.valider:hover{background:#99CC00;color:#FFFFFF;cursor:pointer}
.reponse:hover{background:#CCFFFF}
.check_rep{display:inline-block;vertical-align:middle}
.text_rep{display:inline-block;vertical-align:middle;margin-left:10px;max-width:550px}
#matrs_rev{margin:auto}
#test_niv,#test_rev{width:100%;margin:40px auto;}
#question_tete{width:92%;margin:auto;border-bottom:solid 3px #00CCFF;position:relative;border:solid 1px #BBBBBB}
.question_tete_num{color:#666666;position:relative;background:white;width:100%;margin:auto;font-size:1.2em;padding:9px 0px;text-align:center;border-top:1px solid #AAAAAA;border-bottom:1px solid #AAAAAA;background:rgb(250,250,250)}
.question{display:inline-block;text-align:center;font-weight:normal;padding:0px 5px;padding-top:10px;vertical-align:top;width:455px;height:120px;margin:14px 25px 25px;border:solid 1px rgb(180,180,180);background:rgb(254,254,254);font-size:1.2em}
.img_quest{display:inline-block;vertical-align:top;margin-top:14px;width:130px;height:130px;border:solid 1px rgb(180,180,180);background:rgb(254,254,254)}
.reponse{width:96%;padding:5px 0px;text-align:center;margin:auto;margin-top:20px;border:solid 1px rgb(180,180,180);background:rgb(254,254,254)}
.rep1{margin-top:20px}
.reponse_tet{color:#666666;position:relative;background:white;width:100%;margin:auto;font-size:1.2em;padding:9px 0px;text-align:center;border-bottom:1px solid #AAAAAA;background:rgb(250,250,250)}
.liste_rep{width:92%;margin:auto;margin-top:20px;border-bottom:solid 3px #00CCFF;;border:solid 1px #BBBBBB}
.test_bottom{width:90%;margin:auto;margin-top:30px;position:relative}
.progression_question{width:100%;padding:5px 0px;text-align:center;border:solid 1px rgb(200,200,200);position:relative;overflow:hidden;box-shadow: 0 0  3px #BBB;}
.progression_question_bar{height:100%;background:#00CCFF;position:absolute;top:0px;right:0px;z-index:0;text-align:center}
.valider{border-radius:6px;width:20%;padding:5px;margin:auto;margin-top:20px;border:solid 1px rgb(200,200,200);text-align:center}
.span_num_quest{width:180px;margin:auto;text-align:center;position:relative;top:0px;z-index:1}
#titre_mes_info{width:150px;margin-left:30px;display:inline-block;vertical-align:top}
#modif_mes_info{position:absolute;left:20px;display:inline-block;vertical-align:top;color:rgb(100,100,100);border-radius:5px;padding:0px 5px;border:solid 1px rgb(200,200,200);}
#modif_mes_info:hover{background:rgb(250,250,250);cursor:pointer}
#info_scolaire,#Mes_prof,#info_pers{width:80%;margin:auto;margin-top:30px;padding:10px 10px 10px 20px;border-bottom:solid 3px #99CC00;	box-shadow: 0 0  3px #BBB;}
.titre_div_infs{text-decoration:underline;margin-left:-10px;margin-bottom:10px;color:#00CCFF}
#video{width:100%;box-shadow: 0 0  3px #AAAAAA;height:220px;margin-top:35px;border:solid 1px #999999;}
.bar-percentage_pr{display:inline-block;width: 160px;}
.bar-main-container_pr{width: 340px ;height:15px;border:solid 1px rgb(200,200,200);padding:4px}
.bar_pr{height: 15px;float:right}
.evolution_mes_etudiants{display:inline-block;  vertical-align:top;}
.entete_mes_etudiants{color:rgb(70,70,70);font-size:0.9em;position:relative;margin-bottom:20px;padding:7px;border:solid 1px #BBBBBB;background:rgb(254,254,254);}
.image_mes_etudiants{display:inline-block;vertical-align:top;height:60px;width:60px;}
.details_mes_etudiants{display:inline-block;vertical-align:top;padding:0px 5px;}
.nom_mes_etudiants{font-size:1.1em}
.Retirer_de_mes_etudiants:hover{cursor:pointer;color:red}
.image_env_demmande{display:inline-block;vertical-align:top;height:60px;width:60px;}
.evolution_demande_dajout{display:inline-block;  vertical-align:middle;position:absolute;left:5px;top:13px}
.entete_demande_dajout{color:rgb(70,70,70);font-size:0.9em;position:relative;margin-bottom:20px;padding:4px;border:solid 1px #BBBBBB;background:rgb(254,254,254);}
.image_demande{display:inline-block;vertical-align:middle;height:60px;width:60px;border:1px solid rgb(200,200,200);overflow:hidden}
.details_demande_dajout{display:inline-block;vertical-align:middle;padding:0px 5px;margin-left:10px}
.nom_demande_dajout{font-size:1.1em}

.Accepter_daj{color:#99CC00;width:170px;border-radius:3px;margin-left:0px;text-align:center}
.Rejeter_daj{color:#00CCFF;width:170px;border-radius:3px;text-align:center;margin-top:5px}
.Accepter_daj:hover{cursor:pointer;color:white;background:#99CC00}
.Rejeter_daj:hover{cursor:pointer;color:white;background:#00CCFF}
.dem-rej{width:100;margin:auto;margin-top:30px;padding:4px;border:solid 1px #BBBBBB;background:rgb(254,254,254);margin-bottom:30px}
.dem-rej_input{width:100%;border:solid 1px #CCCCCC;height:20px;background-color:white;padding-left:5px;}
#btn_dem-rej{display:inline-block;vertical-align:to}
.input_test_pr{width:99%;margin-top:8px;margin-top:15px;border:solid 1px rgb(190,190,190);height:25px; background-color:white;}
.textarea_test{height:90px;text-align:right;min-width:99%;max-width:99%;margin:5px 0px}
.inputs_test_pr{width:80%;margin:auto;margin-top:15px;border-bottom:solid 3px #00CCFF;padding:20px;position:relative;border:solid 1px #BBBBBB;background:rgb(254,254,254);}
#choix_niveau_test{margin-top:10px;width:40%;display:inline-block;}
#choix_matr_test{margin-top:10px;width:40%;display:inline-block;margin-left:19%}
#mes_questions{margin:auto;margin-top:30px;margin-bottom:30px;width:80%;padding:20px;position:relative;border-bottom:solid 3px #99CC00;border:solid 1px #BBBBBB;background:rgb(254,254,254);}
#mes_questions_pr{margin:auto}
.entete_mes_questions{width:100%;color:rgb(70,70,70);font-size:0.9em;border:1px solid rgb(200,200,200);position:relative}
.contenu_qust_prof{width:95%;color:black;display:inline-block;vertical-align:top;margin-left:7px}
.rubrique{border-bottom:1px solid rgb(170,170,170);background:rgb(250,250,250);font-family:Arial, Helvetica, sans-serif;margin:auto;padding:8px;position:relative}
.rubrique_case{display:inline-block;vertical-align:top;font-size:1em;color:#777777}
.rubrique_temp{display:inline-block;vertical-align:top;font-size:0.9em;position:absolute;left:5px;color:#777777}
.petit-tri{display:inline-block;vertical-align:top;border-right:5px solid transparent;border-left:5px solid transparent;border-top:5px solid #777777;margin-top:9px;margin-right:7px}
#div_gauche_liste_profil{box-shadow: 0 0  3px #999;background:white}
#div_gauche_liste_parametres{box-shadow: 0 0  3px #999;margin-top:20px;background:white}
.div_gauche_liste_profil_titre{color:#59407F;background:rgb(250,250,250);padding:8px;font-size:1em;border-bottom:1px solid rgb(170,170,170)}
.dem-rej_inputg {display:inline-block;vertical-align:top}
#espace_cours_debut{font-size:2em;text-align:center;color:#EEEEEE}
#acc_desous{width:100%;height:100%;background:rgba(0,0,0,0.5);position:absolute;z-index:5;display:none}
#video_tab_ret{width:100px;border:1px solid #EEEEEE;color:#EEEEEE;padding:3px 0px;background:#222222;border-radius:4px;font-size:1.2em;margin:auto;margin-top:10px;text-align:center}
#video_tab_ret:hover{border:1px solid #FFFFFF;background:#333333;cursor:pointer;color:#FFFFFF}
#video_tab{position:relative;margin:auto;box-shadow:0 0 20px #000000;padding:10px;border-radius:4px;background:#FFFFFF;margin-top:110px;width:735px;height:460px;}
#titre_login{font-size:2em;padding:7px 0px;border-bottom:1px solid #555555;color:#59407F;width:90%;text-align:center;margin:auto;font-weight:normal}

#partie_5_contactez_nous{position:relative;width:600px;margin:auto;margin-top:67px}
#partie_5_contactez_nous_titre{color:#222222;font-family:arabtype;font-size:1.8em;width:100%;text-align:center;margin-top:10px}
.input{width:98%;height:100%;border:2px solid #555555;font-size:1.1em;text-align:center}
.input_authentification{width:48%;display:inline-block;vertical-align:top;height:37px}
.input_message{min-width:98%;padding-left:2%;max-width:98%;text-align:right;min-height:200px;max-height:200px;border:2px solid #555555;font-weight:bold;font-size:1.3em}
#btn_env{width:100%;margin:auto;background:white;text-align:center;border:2px solid #555555;padding:3px 0px;color:#444444;font-size:1.3em}
#div_btn_env{width:100ù;margin:auto;margin-top:20px;}
#sociaux{font-family:font1;font-size:0.9em;width:67%;display:inline-block;vertical-align:top;font-weight:bold}
#facebook:hover,#gmail:hover{cursor:pointer;color:#FFFFFF}
#a_facebook{text-decoration:none;color:#333333}
#templ{font-family:font1;font-size:0.9em;width:31%;display:inline-block;vertical-align:top;text-align:center;font-weight:bold}
#contacter_nous_footer{position:absolute;bottom:5px;color:#333333;width:100%}
.partie_5_ctn_div{width:50%;height:50%;position:absolute;background:#AAAAAA}
#partie_5_localisation_div1{top:0px;left:0px;background:#3B5998}
#partie_5_localisation_div2{bottom:0px;left:0px;background:#48C1EC}
#partie_5_localisation_div3{top:0px;right:0px;background:#D44132}
#partie_5_localisation_div4{bottom:0px;right:0px;background:#222222}
.imge_soci{height:100%}
#tab_g{position:absolute;bottom:50px;left:90px;z-index:3;width:400px}
#div_liens_ctn{margin:auto;margin-top:50px;text-align:center;position:relative;min-width:900px;max-width:1050px;}
.div_liens_ctn_i{display:inline-block;vertical-align:top;width:200px;height:200px;border-radius:100px;border:3px solid #696969;background:#F3F3F3;transition:background 1s;}
#div_liens_ctn_1{position:absolute;left:30px;}
#div_liens_ctn_2{}
#div_liens_ctn_3{position:absolute;right:30px;}
#div_liens_ctn_1:hover,#div_liens_ctn_2:hover,#div_liens_ctn_3:hover{background:#E95F47;cursor:pointer}


.rub{position:absolute;left:0px;height:100%;width:100%;z-index:0}
.span_tit{position:relative;z-index:1;top:4px}
#div_liens_ctn_desc_titre{margin:auto;margin-top:-40px;text-align:center;position:relative;min-width:920px;max-width:1050px;}
#div_liens_ctn_1_desc_titre{position:absolute;left:20px;}
#div_liens_ctn_2_desc_titre{position:relative}
#div_liens_ctn_3_desc_titre{position:absolute;right:20px}
.div_liens_ctn_i_desc_titre{display:inline-block;vertical-align:top;width:220px;height:47px;font-size:1.6em;color:#FFF;text-align:center}
#liens_text{width:50%;margin:auto;margin-top:30px;font-size:1.3em;text-align:center;color:#555}


#div_actus_ctn{margin:auto;margin-top:70px;text-align:center;position:relative;min-width:900px;max-width:1050px;}
.div_actus_ctn_i{display:inline-block;vertical-align:top;width:250px;height:250px;border:2px solid #696969;background:#F3F3F3;transition:background 1s;border-radius:20px;overflow:hidden}
#div_actus_ctn_1{position:absolute;left:30px;}
#div_actus_ctn_2{}
#div_actus_ctn_3{position:absolute;right:30px}
#div_actus_ctn_1:hover,#div_actus_ctn_2:hover,#div_actus_ctn_3:hover{background:#4277B9;cursor:pointer;color:white}

.liste_conseils{width:90%;margin:auto;margin-top:30px;border:solid 1px #AAAAAA}
.actus_titre{width:100%;text-align:center;padding:9px 0px;border-bottom:2px solid #696969;color:#FFFFFF;margin:auto;background:#27476D}
.actus_text{width:90%;text-align:center;padding-top:15px;margin:auto}
.liste_conseils_image{display:inline-block;vertical-align:middle;width:50px ;height:50px;margin-right:20px}
.liste_conseils_text{display:inline-block;vertical-align:middle;padding:10px 10px;margin-right:10px}