<div id="barreuser" style="width:100%;position:absolute;bottom:0px;background:black">
<div  style="width:920px;padding-top:10px;padding-bottom:10px;position:relative;margin:auto">
<div id="" style="width:80px;height:80px;position:absolute;top:-23px;border:3px black solid;display:inline-block"><img id="" src="{{asset("images/user_icon.png")}}" style="width:100%"/></div>	

    <div style="margin-left:90px;font-family:Verdana;color:white;display:inline-block"> 
	<div id="barreuser_1" style="font-family:Verdana;font-size:0.9em;color:white;display:inline-block;margin-left:20px" >Rhabi</div>
	
	<div id="barreuser_2" style="font-family:Verdana;font-size:0.9em;color:white;display:inline-block;margin-left:20px" >khalifa</div>
	
	<div id="barreuser_3" style="font-family:Verdana;font-size:0.9em;color:white;display:inline-block;margin-left:20px" onclick="javascript:afficherinformations()">Mes informations</div>
	
	<div id="barreuser_4" style="font-family:Verdana;font-size:0.9em;color:white;display:inline-block;margin-left:20px" >Liens Utiles</div>
	
	</div>

	<div id="" style="font-family:Verdana;font-size:0.9em;color:white;display:inline-block;position:absolute;right:0px"  >Déconnexion</div>
		
</div>

		<div id="info_du_profil" class="" style="display:none;position:absolute;left:310px">
				
				<div id="donnees_de_profil1" class="donnees_de_profil">
				<div class="titre_div_info">Mes infos</div>
				<div class="div_info">RHABI khalifa</div>
				<div class="div_info">Yahay Elgoudali</div>
				<div class="div_info">3eme année du collège</div>
				</div>
				
				
				<div id="donnees_de_profil2" class="donnees_de_profil">
				<div class="titre_div_info">Infos de visite du site</div>
				
				</div>
				
				
				<div id="donnees_de_profil3" class="donnees_de_profil">
				<div class="titre_div_info">Signalisation</div>
				
				</div>
		</div>	

	<script>
	function afficherinformations(){document.getElementById("info_du_profil").style.display="block"}
	</script>
</div>