
<div id="parametres" class="" style="">

<div id="" class="prog_chaque_matrs" style="">
معلوماتي
</div>
<div style="margin-top:30px;position:relative">
<div id="titre_mes_info" class="" style="margin-right:30px">
معلوماتي
</div>

<div id="modif_mes_info" class="" style="" onclick="javascript:affinfo()" >
تغير المعلومات
</div>

<div id="info_pers" class="" style="">
<div class="titre_div_infs" style="">معلوماتي الشخصية</div>
:الإسم الشخصي<br>
:الإسم العائلي<br>
:المدينة<br>
:البريد الإلكتروني<br>
</div>

<div  id="info_scolaire" class="" style="">
<div class="titre_div_infs" >معلوماتي المدرسية</div>
:المدرسة<br>
:المستوى الدراسي<br>

</div>

<div  id="Mes_prof" class="" style="">
<div class="titre_div_infs" >اساتذتي</div>
:الأستاذ<br>
:الأستاذ<br>
:الأستاذ<br>

</div>




</div>

</div>
