
<div id="parametres" class="" style="">

<div id="" class="prog_chaque_matrs" style="">
تعديل المعلومات
</div>
<div id="" class="" style="margin-top:20px;margin-right:30px">
تغير معلوماتي
</div>
<div class="inputs_para" class="" style="opacity:1">
					<form action="" method="post" >
					<input class="input_inscription" style=""  placeholder="الإسم" type="text" ></input></br> 
					<input class="input_inscription" style=""  placeholder="النسب" type="text" ></input></br> 
					<input class="input_inscription" style=""  placeholder="المدرسة" type="text" ></input></br> 
					<input class="input_inscription" style=""  placeholder="المدينة" type="text" ></input></br>  
					<input class="input_inscription" style=""  placeholder="البريد الإلكتروني" type="text" ></input></br>  
					
					<label id="label_choix_niveau">Niveau</label> 
						<select  id="choix_niveau" name="choix">
							<option value="choix1">Choix 1</option>
							<option value="choix2">Choix 2</option>
							<option value="choix3">Choix 3</option>
							<option value="choix4">Choix 4</option>
						</select>
						
					<input class="input_inscription Confirmation_de_mot_de_passe" required="required" id="" class=""  placeholder="التحقق من كلمة السر" type="password" ></input></br> 	
					
					<div id="btn_insc" style="">
						<input  style="" value="حفظ"  placeholder="Login " type="submit" ></input>
					</div>
					
					</form>
</div>

<div id="" class="" style="margin-top:20px;margin-right:30px">
Changer mon mot de passe:
</div>

<div class="inputs_para" class="" style="opacity:1">
					<form action="" method="post" >
					<input class="input_inscription Confirmation_de_mot_de_passe" style="" required="required"  placeholder="كلمة السر القديمة" type="password" ></input></br> 
					<input class="input_inscription"  style=""  placeholder="كلمة السر الجديدة" type="password" ></input></br>
					<div id="btn_insc" style="">
						<input  style="" value="تعديل"  placeholder="Login " type="submit" ></input>
					</div> 					
					</form>
</div>

</div>
