<script  src="{{asset("scripts/jquery.js")}}" > </script>
<div id="" class="" style="">

	<div id="" class="prog_chaque_matrs" style="">
		اختبار المستوى
	</div>

		<div id="test_niv" class="" style="">
			<div class="question_tete_num" id="question_tete_num" style=""><span id="num_question">0</span> السؤال رقم </div>
				{{ render(controller('InnovitQuestionBundle:Question:pick',{tnq:4})) }}
		
		</div>
	
</div>


<script  src="{{asset("scripts/xhrCreate.js")}}" > </script>
<script  src="{{asset("scripts/script_test.js")}}" > </script>