<!DOCTYPE html>

<html id="" class="" lang="fr">

	<head>
	<meta charset="utf-8" />
	<link rel="stylesheet" href="new.css" type="text/css" media="screen" />
	</head>
	 
	<body class="" style="" onscroll="scroll();" >
	 
        <div id="Entete" style="">
			<div class="box effect2" style="">
				 <div id="logo" style="">
				    <img id="logo_image" src="logo.png" style=""/>
			     </div> 
				 <div id="grand_titre" style="">
				    SELF SCEDGEAL COATCHING
			     </div>  
               				 
			</div>   
			<img id="t_g" src="t_g.png" style=""/>
			<img id="t_d" src="t_d.png" style=""/>		
			<?php include('entete.php'); ?>
		</div>       
		<div id="corp" style=""> 
			<div id="div_gauche" class="" style="">        
				<div id="slider" class="" style="">
				<?php include('slider.php'); ?>
				</div>		 
				<div id="div_englobante" class="" style="">
					<div id="sous_div1" class="" style="">
						<img class="icone_s_d" src="logo_infor1.png" style=""/>
						<div id="" class="titre" style="">
							<span style="">Accompagnement continue des étudiants</span><br>	  
						</div>		 
						<div class="text" class="" style="">
							<span style="">
								Accomljkxsg ssg sfgsf g sfh sgh sghs g h sg h sg h sg hs g h sg h s gh s h sf h sf h s h sg h sdgh  sdh  sdf h sdh  sdh s dh s gh dg h sdgh s dh s dh s gh shs   h sg h s hg  g hs gh s gh  s pagnement continue des etudiants</span><br>	  
						</div>		 
					</div>       
					<div id="sous_div2" class="" style="">
						<img class="icone_s_d" src="logo_infor2.png" style=""/>
						<div id="" class="titre" style="">
							<span style="">Accompagnement continue des étudiants</span><br>	  
						</div>		 
						<div class="text" class="" style="">
							<span style="">
								Accomljkxsg ssg sfgsf g sfh sgh sghs g h sg h sg h sg hs g h sg h s gh s h sf h sf h s h sg h sdgh  sdh  sdf h sdh  sdh s dh s gh dg h sdgh s dh s dh s gh shs   h sg h s hg  g hs gh s gh  s pagnement continue des etudiants</span><br>	  
						</div>
					</div>
				</div>		 	
			</div>
			<div id="inscription" class="" style="">
				<div id="titre_insc" class="" style="">
					<span style="color:rgb(132, 88, 131)">Vous n'avez pas de compte?</span><br>
					<span style="color:rgb(0,0,0)">Créez le maintenant	</span>		  
				</div>
				<div id="" class="" style="opacity:1">
					<form action="" method="post" >
					<input class="input_inscription" style=""  placeholder="Votre nom " type="text" ></input></br> 
					<input class="input_inscription" style=""  placeholder="Votre prénom" type="text" ></input></br> 
					<input class="input_inscription" style=""  placeholder="Votre école" type="text" ></input></br> 
					<input class="input_inscription" style=""  placeholder="ville" type="text" ></input></br>  
					<input class="input_inscription" style=""  placeholder="Votre email" type="text" ></input></br>  
					<input type="radio" name="frites" value="oui" id="case1" checked="checked" /> <label for="oui">Etudiant</label>
					<input type="radio" name="frites" value="non" id="case2" /> <label for="non">Professeur</label><br>
					<label id="label_choix_niveau">Niveau</label> 
						<select  id="choix_niveau" name="choix">
							<option value="choix1">Choix 1</option>
							<option value="choix2">Choix 2</option>
							<option value="choix3">Choix 3</option>
							<option value="choix4">Choix 4</option>
						</select>
					<div id="btn_insc" style="">
						<input  style="margin-left:1%" value="Inscription"  placeholder="Login " type="submit" ></input>
					</div>
					
					</form>
				</div>
			</div>
       
      
		<footer style="">
		</footer>		
		</div>	
		 
	<script  src="script_accueil.js" > </script>
				
	</body>
</html>