<div id="Entete_general" style="">
			    <div id="acc_desous">
					
						
					<div id="video_tab" style="">
					<iframe width="100%" height="100%" src="//www.youtube.com/embed/y9Bbk-hICmk?rel=0" frameborder="0" allowfullscreen></iframe>
					</div>
					<div id="video_tab_ret" style="">إغلاق</div>
				</div>
				<div id="imag_back_ground" style="">
				  
				</div>
				<img id="logo_image_gen" src="{{asset("images/image_g_generale.jpg")}}" style=""/>
				<div id="box_g" onmouseover="javascript:aff_scd_play()" onmouseout="javascript:aff_scd_logo()" style="">
			
					<div id="logo_general" style="">
						<img id="logo_image" src="{{asset("images/logo.png")}}" style=""/>
					</div> 
					<div id="grand_titre_general" style="">
						SELF SCHEDULE COATCHING
					</div>  
				 
					<div id="grand_text_general" style="">
						Nouvelle vision d'accompagnement des étudiants pour un avenir educatif solide.
					</div>
				 
					<div id="inscription_bnt" style="">
					التسجيل
					</div>
					
               				 
				</div>  
                 			
				
			</div>     
			<div id="div_globale">	
				<div id="div_gauche_sep" class="" style="">        
					<div id="div_gauche_titre" class="" style="">
						SELF SCHEDULE COATCHING	  
					</div>		 	
				</div>
			
			
				<div id="inscription" class="" style="">
					<div id="partie_1_titre">
						<div id="partie_1_titre_trai">
						</div>
						<div id="partie_1_titre_text">
							حساب جديد
						</div>
					</div>
					<div id="insc" class="" style="">		  
						<div id="inputs" class="" style="opacity:1">
						<form action="" method="post" >
							<div class="input_rs">
								<input class="input_inscription" style=""  placeholder="الإسم العائلي" type="text" ></input> 
								<input class="input_inscription" style="margin-top:0px"  placeholder="الإسم الشخصي" type="text" ></input>
							</div>
							<div class="input_rs">
								<input class="input_inscription" style=""  placeholder="تأكيد كلمة السر" type="password" ></input>
								<input class="input_inscription" style=""  placeholder="كلمة السر" type="password" ></input>
							</div>
							<div class="input_rs">
								<input class="input_inscription" style=""  placeholder="مدينتك" type="text" ></input>  
								<input class="input_inscription" style=""  placeholder="مدرستك" type="text" ></input>
							</div>
							<div class="input_rs">
								<input class="input_inscription" style=""  placeholder="بريدك ألإلكتروني" type="text" ></input>
								<div class="input_inscription inp_nn_inp">
									<select id="choix_niveau">
									<option class="options">المستوى السادس إبتدائي</option>
									</select>
								</div>
							</div>
							<div class="input_rs">
								<input id="num_nat" class="input_inscription" " style=""  placeholder="الرقم الوطني/رقم التأجير" type="text" ></input>
								<div id="choix_type" class="input_inscription inp_nn_inp">
									<input type="radio" name="frites" value="oui" id="case1" checked="checked" /> <label for="oui">تلميذ</label>
									<input type="radio" name="frites" value="non" id="case2" /> <label for="non">أستاذ</label>
								</div>
							</div>
					
					
							<div id="btn_insc" style="">
								<input id="btn_insc_btn"  style="" value="Inscription"  placeholder="تسجيل" type="submit" ></input>
							</div>
					
						</form>
						</div>
				
					</div>
				</div>
			
				<div id="div_qsnou_liens_actus" class="" style="">
				<div id="div_qsnous" class="div_les_tr" style="">        
					<div id="qsnous_titre">
						<div class="qsnous_titre_text">
						من نحن, وماهو هدفنا؟
						</div>
					</div>
					<div id="div_gauche_qsnous_text1" class="div_gauche_qsnous_text" style="">    
						نظرا لمجموعة من المشاكل التي تعيق التلاميذ وتحول دون التحضير والاستعداد الجيد للامتحانات والتي شكلت باستمرار مبعث استياء العديد من التلاميذ وذويهم، ووعيا منا بأهمية والدور الكبير الذي أصبحت تلعبه المواقع الإلكترونية في حياة التلميذ تم إنشاء هذا الموقع التربوي من أجل التأطير والتوجيه بعد الوقوف على نقط القوة والضعف عند التلميذ في مختلف المواد المُدرسة، وذلك بمعية أساتذة أكفاء ومتخصصين، ملتزمين بالمشاركة وتحقيق الأهداف والنتائج
	
						</br> وفي نفس الإطار دائما يسهر الموقع على تقديم مجموعة من الخدمات التربوية لفائدة التلميذ بعد القيام بعملية التسجيل واجتياز آختبار أولي، ومن بين هذه الخدمات على سبيل المثال فقط لا الحصر ما يلي 

						<div class="liste_al">.تسطير برنامج عمل لفائدة التلميذ بعد تحديد مستواه الحقيقي </div>
						<div class="liste_al">.تحسين القدرات لدى التلميذ </div>

						<div class="liste_al">.ربط قنوات التواصل بين التلميذ والأساتذة لما لذلك من أهمية </div>
						<div class="liste_al">.تقديم التأطير والمواكبة من طرف أساتذة أكفاء ومتخصصين </div>
						<div class="liste_al">.التتبع والتقييم </div>
						<div class="liste_al">.اقتراح اختبارات إضافية في مختلف المواد من اجل التمكن </div>
						<div class="liste_al">.اقتراح العديد من المواد التي تناسب مستوى التلميذ من اجل تقوية معارفه </div>

					</div>
		
				</div>
				
				<div id="div_actus" class="div_les_tr" style="">        
					<div id="qsnous_titre">
						<div class="qsnous_titre_text">
						مستجدات
						</div>
					</div>
					<div id="div_gauche_qsnous_text1" class="div_gauche_qsnous_text" style="">    

					</div>
		
				</div>
				
				<div id="div_liens" class="div_les_tr" style="">        
					<div id="qsnous_titre">
						
						<div class="qsnous_titre_text">
						مواقع مفيدة
						</div>
					</div>
					<div id="div_gauche_qsnous_text1" class="div_gauche_qsnous_text" style="">    
						

					</div>
	
				</div>
				
					<div id="glob_cercl" style="">
						<div id="cercle1" class="cercles" style=""></div>
						<div id="cercle2" class="cercles" style=""></div>
						<div id="cercle3" class="cercles" style=""></div>
					</div>
				
				</div>	
			
					
				
			</div>
