{% extends 'InnovitGeneralBundle:General:general.html.twig' %}
{%block milieu%}

		<div id="div_gauche" class="" style="">        
			<div id="ruban" class="titre" style="">        
			 مواقع مفيدة
			</div>
			</div>

{% endblock %}