{% extends 'InnovitGeneralBundle:General:general.html.twig' %}
{%block milieu%}

		<div id="div_gauche" class="" style="">        
			<div id="ruban" class="titre" style="">        
			 	من نحن؟
			</div>
		<div id="div_glob_qsnous" style="">
			<div id="div_gauche_qsnous1" class="div_gauche_qsnous" style="">        
				<div id="div_gauche_qsnous_titre1" class="" style="">        
					
					<span class="span_qsn" style="color:#FF9900;font-size:1.2em">
					تعريف عام
					</span>
					
					<div id="div_gauche_qsnous1_image" class="div_gauche_qsnous_image" style=""> 
					<img src="{{asset("images/png/64px/Shape 12.png")}}" style="width:100%" />
					</div>
				</div>
			
				<div id="div_gauche_qsnous_text1" class="div_gauche_qsnous_text" style="">    
				نظرا لمجموعة من المشاكل التي تعيق التلاميذ وتحول دون التحضير والاستعداد الجيد للامتحانات والتي شكلت باستمرار مبعث استياء العديد من التلاميذ وذويهم، ووعيا منا بأهمية والدور الكبير الذي أصبحت تلعبه المواقع الإلكترونية في حياة التلميذ تم إنشاء هذا الموقع التربوي من أجل التأطير والتوجيه بعد الوقوف على نقط القوة والضعف عند التلميذ في مختلف المواد المُدرسة، وذلك بمعية أساتذة أكفاء ومتخصصين، ملتزمين بالمشاركة وتحقيق الأهداف والنتائج

</br> وفي نفس الإطار دائما يسهر الموقع على تقديم مجموعة من الخدمات التربوية لفائدة التلميذ بعد القيام بعملية التسجيل واجتياز آختبار أولي، ومن بين هذه الخدمات على سبيل المثال فقط لا الحصر ما يلي 

<div class="liste_al">.تسطير برنامج عمل لفائدة التلميذ بعد تحديد مستواه الحقيقي </div>
<div class="liste_al">.اقتراح العديد من المواد التي تناسب مستوى التلميذ من اجل تقوية معارفه </div>
<div class="liste_al">.ربط قنوات التواصل بين التلميذ والأساتذة لما لذلك من أهمية </div>
<div class="liste_al">.تقديم التأطير والمواكبة من طرف أساتذة أكفاء ومتخصصين </div>
<div class="liste_al">.التتبع والتقييم </div>
<div class="liste_al">.اقتراح اختبارات إضافية في مختلف المواد من اجل التمكن </div>
<div class="liste_al">.تحسين القدرات لدى التلميذ </div>

</div>
			
			
			</div>
			
			
		</div>
		</div>

{% endblock %}